include ../../../../core/templates/mixins/icon
include /templates/_mixins/all

.c-navbar.c-navbar--scrollable
    .c-toolbar
        .c-toolbar__left
            .c-toolbar__item
                +c-brand({href: "/prototypes/account/super-user-homepage.html", size: "xsmall"})
            .c-toolbar__item
                nav
                    ul.c-pill-navigation
                        -
                            var navItems = [
                                {
                                    pathName: '/prototypes/tools/contracts.html',
                                    name: 'Contracts'
                                },
                                {
                                    pathName: '#',
                                    name: 'Invoices'
                                },
                                {
                                    pathName: '#',
                                    name: 'Documents'
                                },
                                {
                                    pathName: '#',
                                    name: 'Activities & projects',
                                },
                            ]

                        each item, index in navItems
                            li.c-pill-navigation__item(class=item.subMenu? 'c-pill-navigation__item--has-child-menu' : '')
                                if item.subMenu
                                    button(type="button" data-menu="subMenu-"+index data-menu-samewidth="true") #{item.name}
                                    ul.c-menu.c-menu--large(id="subMenu-"+index)
                                        each subItem in item.subMenu
                                            li.c-menu__item
                                                a.c-menu__label(href=subItem.pathName) #{subItem.name}
                                else
                                    a(href=item.pathName) #{item.name}

        .c-toolbar__right
            .c-toolbar__item
                nav
                    ul.c-pill-navigation
                        li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                            button(type="button" data-menu="helpMenu")
                                +icon('circle-help')
                                span.u-sr-accessible Help

                            ul.c-menu.c-menu--large(id="helpMenu")
                                li.c-menu__item
                                    a.c-menu__label(href="#") About this page
                                li.c-menu__divider(role="presentational")
                                li.c-menu__item
                                    a.c-menu__label(href="#") Select French
                                li.c-menu__item
                                    a.c-menu__label(href="#") Select Dutch
                                li.c-menu__divider(role="presentational")
                                li.c-menu__item
                                    a.c-menu__label(href="/prototypes/index.html")
                                        span Documentation
                                        +icon('external-link', 'o-svg-icon--small o-svg-icon--subtle')
                                li.c-menu__item
                                    a.c-menu__label.c-menu__label--2-lines(
                                            href="https://smartbe.be/fr/contact/",
                                            target="_blank")
                                        .o-flex.o-flex--vertical-center
                                            span Contact my advisor
                                            +icon('external-link', 'o-svg-icon--small o-svg-icon--subtle')
                                        .c-menu__subline alice@example.com
                                li.c-menu__item
                                    a.c-menu__label(href="#") Report a bug

            .c-toolbar__item
                nav
                    ul.c-pill-navigation
                        li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                            button(type="button" data-menu="createMenu")
                                +icon('add')
                                span.u-sr-accessible Create

                            ul.c-menu.c-menu--large(id="createMenu")
                                li.c-menu__item
                                    a.c-menu__label(href="#") New quote / invoice
                                li.c-menu__item
                                    a.c-menu__label(href="#") New contract
                                li.c-menu__item
                                    a.c-menu__label(href="#") New expense
                                li.c-menu__divider(role="presentational")
                                li.c-menu__item
                                    a.c-menu__label(href="#") New funding demand
                                li.c-menu__divider(role="presentational")
                                li.c-menu__item
                                    a.c-menu__label(href="#") Buy shares

            .c-toolbar__item
                a.c-user-navigation(href="#" data-menu="userMenu")
                    +c-avatar({img: '/images/avatars/1.jpg', alt: 'avatar'})
                ul.c-menu.c-menu--large(id="userMenu")
                    // @todo add correct user menu items
                    li.c-menu__info
                        .c-avatar-and-text
                            +c-avatar({img: '/images/avatars/1.jpg', alt: 'avatar'})
                            .c-avatar-and-text__text
                                p Signed in as <strong>Alice</strong>

                    li.c-menu__divider(role="presentational")
                    li.c-menu__item
                        a.c-menu__label(href="/prototypes/account/as-member.html") Act as a member
                    li.c-menu__item
                        a.c-menu__label(href="/prototypes/account/as-client.html") Act as a client
                    li.c-menu__divider(role="presentational")
                    li.c-menu__item
                        a.c-menu__label(href="#") My profile
                    li.c-menu__divider(role="presentational")
                    li.c-menu__item
                        a.c-menu__label(href="#") Sign out
