extends ../index

block append pageVariables
    - var moduleTitle = "Component documentation"
    -
        var obj = [
            {
                name: "Button",
                ref: "button"
            },
            {
                name: "Input",
                ref: "input"
            },
            {
                name: "Radio button",
                ref: "radio-button"
            },
            {
                name: "Checkbox",
                ref: "checkbox"
            },
            {
                name: "Select",
                ref: "select"
            },
            {
                name: "Tooltip",
                ref: "tooltip"
            },
            {
                name: "Dialog",
                ref: "dialog"
            },
            {
                name: "Alert",
                ref: "alert"
            }
        ]

block append headerStyles

    style.
        #component-docs a {
            background: #FFF;
            border-radius: .3rem;
            display: block;
        }
        #component-docs span {
            display: block;
            padding: .8rem 1.6rem;
            color: #333

        }
        #component-docs img {
            background: #F2F2F2;
            display: block;
        }
        #component-docs a:hover {
            border-color: #000;
        }

block content

    .u-padding-bottom-l
        h1.c-d-h2 Component documentation

    .o-grid

        .o-grid-col-bp3-3
            .u-spacer-bottom-l
                .c-input-group
                    .c-input-group__prepend
                        +icon('search')
                    input#styleguideSearch(type="search" placeholder=styleguideSearchPlaceholderString class=styleguideInputClass)

            .c-navbar-components.u-padding-bottom-xl
                .c-navbar-components__header
                    .c-toolbar
                        .c-toolbar__left
                            .c-toolbar__item
                                .c-toolbar-title Components
                        .c-toolbar__right
                            .c-toolbar__item
                                +c-button({skin: 'borderless', layout: 'icon-only', icon: 'chevron-down'}) Chevron down

                .c-navbar-components__content
                    .br-styleguide-nav-holder.br-styleguide-nav-holder--mobile.u-spacer-top-l.u-padding-horizontal-l(class=styleguideNavigationHolderClass)
                        each docsCategoryName in config.styleguide.categoryOrder
                            if docsCategoryName === 'Components' && Object.keys(components.byCategory).length > 0
                                each category, categoryName in components.byCategory
                                    .br-docs-category
                                        if Object.keys(components.byCategory).length > 1
                                            h4.br-docs-category-name(class=styleguideNavListTitleClass)= categoryName
                                        else
                                            h4.br-docs-category-name(class=styleguideNavListTitleClass) Components
                                        .br-docs-category-list-wrapper(class=styleguideNavListWrapperClass)
                                            ul(class=styleguideNavListClass)
                                                each group in category
                                                    - var groupName = group.docs ? group.docs.attributes.title || group.group.id : group.group.id
                                                    li(class=styleguideNavListItemClass+' '+`${ "styleguide/" + group.group.id == pathname ? styleguideNavListItemActiveClass : "" }`)
                                                        a(href=`/development/docs/${group.group.id}.html` class=styleguideNavListItemLinkClass+' '+`${ ("styleguide/" + group.group.id) == pathname ? styleguideNavListItemLinkActiveClass : "" }`)
                                                            |  #{groupName}

            .br-styleguide-nav-holder.br-styleguide-nav-holder--desktop(class=styleguideNavigationHolderClass)
                each docsCategoryName in config.styleguide.categoryOrder
                    if docsCategoryName === 'Components' && Object.keys(components.byCategory).length > 0
                        each category, categoryName in components.byCategory
                            .br-docs-category
                                if Object.keys(components.byCategory).length > 1
                                    h4.br-docs-category-name(class=styleguideNavListTitleClass)= categoryName
                                else
                                    h4.br-docs-category-name(class=styleguideNavListTitleClass) Components
                                .br-docs-category-list-wrapper(class=styleguideNavListWrapperClass)
                                    ul(class=styleguideNavListClass)
                                        each group in category
                                            - var groupName = group.docs ? group.docs.attributes.title || group.group.id : group.group.id
                                            li(class=styleguideNavListItemClass+' '+`${ "styleguide/" + group.group.id == pathname ? styleguideNavListItemActiveClass : "" }`)
                                                a(href=`/development/docs/${group.group.id}.html` class=styleguideNavListItemLinkClass+' '+`${ ("styleguide/" + group.group.id) == pathname ? styleguideNavListItemLinkActiveClass : "" }`)
                                                    |  #{groupName}

        .o-grid-col-bp3-9
            block subContent
                .c-display
                    p(style="margin-top: 0;") Please choose an item in the navigation. Or choose one of the popular components:

                ul.o-card-grid#component-docs
                    each item in obj
                        li
                            a.c-card(href="/development/docs/c-"+item.ref+".html")
                                img(src="/images/component-illustrations/"+item.ref+".png" alt="")
                                span #{item.name}
