//-
    Mixin Alert - Create an alert

    @param {Object} props
    @param {string} skin - the skin of the alert
    @param {string} icon - which icon to show in the alert
    @param {string} message - the alert message
    @param {string} title - the alert title
    @param {boolean} isClosable - makes alert closable
    @param {boolean} isLight - a lighter version of the alert for longer content

mixin c-alert({skin="default", icon, message, title, isLight=false, isClosable=false})
    - var skinClass = " c-alert--"+skin
    - var lightClass = ""
    - if (isLight) lightClass = " c-alert--light"
    - var classListing = "c-alert"+skinClass+lightClass
    div(class=classListing data-alert-closable=isClosable || false)&attributes(attributes)
        +icon(icon? icon : (skin == "error")? "circle-error" : (skin == "warning")? "warning" : (skin == "success")? "circle-check" : "circle-information" )
        .c-alert__body
            .c-alert__text
                if title
                    h4.c-h4= title
                if message
                    .c-alert__message
                        .c-content!= marked(message)
        if isClosable
            +c-button({isLink: true, skin: 'borderless-muted', icon: 'close', layout: 'icon-only'})(data-alert-close aria-label="Close alert") Alert sluiten
