//-
    Mixin Avatar - Create a avatar
    @param {Object} props
    @param {string} size - the size of a avatar (regular, small)
    @param {string} skin - the skin of the avatar (default, success, primary)
    @param {string} href - if href
    @param {string} img - image reference
    @param {string} alt - alt tag of an image
    @param {string} icon - icon name

mixin c-avatar({img, href, alt = "avatar-image", icon, size, skin = "default"})
    - var imgClass = ""
    - if (img) imgClass = " c-avatar--img"
    - var sizeClass = ""
    - if (size) sizeClass = " c-avatar--"+size
    - var classListing = "c-avatar"+imgClass+sizeClass+" c-avatar--"+skin

    if href
        a(href=href class=classListing)&attributes(attributes)
            if block
                block
            else
                +c-avatar-inner-layout(img, alt, icon)

    else
        div(class=classListing)&attributes(attributes)
            if block
                block
            else
                +c-avatar-inner-layout(img, alt, icon)

mixin c-avatar-inner-layout(img, alt, icon)
    if img
        img(src=img alt=alt)
    else
        +icon(icon? icon : 'user', 'o-svg-icon--'+size)
