//-
    Mixin Button - Create a button

    @param {string} Pug block content - the button label

    @param {Object} props
    @param {string} type - button type
    @param {string} href - if href
    @param {string} icon - icon name
    @param {string} skin - the skin of the button (primary, secondary, tertiary, danger-primary, danger-hover, borderless, muted)
    @param {string} size - the size of the button
    @param {string} layout - the layout of the button (text-icon, icon-only, default)
    @param {boolean} isBlock - if block
    @param {boolean} isLink - if link button

mixin c-button({type = "button", href, icon, skin = "secondary", layout, size, isBlock = false, isLink = false, isLoading = false})
    - var iconOnlyClass = ""
    - if (layout == "icon-only") iconOnlyClass = " c-button--icon"
    - var blockClass = ""
    - if (isBlock) blockClass = " c-button--block"
    - var linkClass = ""
    - if (isLink) linkClass = "-link"
    - var sizeClass = ""
    - var loadingClass = ""
    - if (isLoading) loadingClass = " c-button--loading"
    - if (size) sizeClass =  " c-button--"+size
    - var classListing = "c-button"+linkClass+" c-button--"+skin+sizeClass+iconOnlyClass+blockClass+loadingClass
    if href
        a(href=href class=classListing)&attributes(attributes)
            if isLoading
                .c-loader
            span.c-button__content
                +c-button-inner-layout(icon, layout)
                    if block
                        block
                    else
                        |
    else
        button(type=type class=classListing disabled=isLoading)&attributes(attributes)
            if isLoading
                .c-loader
            span.c-button__content
                +c-button-inner-layout(icon, layout)
                    if block
                        block
                    else
                        |

mixin c-button-inner-layout(icon, layout)
    if !layout
        if icon
            +icon(icon)
            span.c-button__label
                block
        else
            span.c-button__label
                block
    else if layout === "text-icon"
        span.c-button__label
            block
        +icon(icon)
    else if layout === "icon-only"
        +icon(icon)
        .u-sr-accessible
            block
