//-
    Mixin Input - Create an input

mixin c-input({ id, type = "text", placeholder, value, state})
    - var stateClass = ""
    - if (state) stateClass = " c-input--"+state
    - var classListing = "c-input"+stateClass
    input(type=type class=classListing placeholder=placeholder id=id value=value)&attributes(attributes)
