.c-navbar.c-navbar--fixed.c-navbar--bordered-bottom
    .c-toolbar.c-toolbar--medium
        .c-toolbar__left
            .c-toolbar__item
                a(href="/")
                    img(src='/images/logo.svg' alt='Smart Coop Logo')
            .c-toolbar__item
                nav
                    ul.c-pill-navigation
                        -
                            var navItems = [
                                {
                                    pathName: '#',
                                    name: 'Activities'
                                },
                                {
                                    pathName: '#',
                                    name: 'Management',
                                    subMenu: [
                                        {
                                            pathName: '#',
                                            name: 'Nav item'
                                        },
                                        {
                                            pathName: '#',
                                            name: 'Nav item'
                                        },
                                        {
                                            pathName: '#',
                                            name: 'Nav item'
                                        },
                                    ]
                                },
                                {
                                    pathName: '#',
                                    name: 'Documents',
                                    subMenu: [
                                        {
                                            pathName: '#',
                                            name: 'Nav item'
                                        },
                                        {
                                            pathName: '#',
                                            name: 'Nav item'
                                        },
                                    ]
                                },
                                {
                                    pathName: '#',
                                    name: 'Members',
                                },
                                {
                                    pathName: '#',
                                    name: 'Archive',
                                },
                            ]

                        each item, index in navItems
                            li.c-pill-navigation__item(class=item.subMenu? 'c-pill-navigation__item--has-child-menu' : '')
                                if item.subMenu
                                    a(href="#" data-menu="subMenu-"+index data-menu-samewidth="true") #{item.name}
                                    ul.c-menu.c-menu--large(id="subMenu-"+index)
                                        each subItem in item.subMenu
                                            li.c-menu__item
                                                a.c-menu__label(href=subItem.pathName) #{subItem.name}
                                else
                                    a(href=item.pathName) #{item.name}

        .c-toolbar__right
            .c-toolbar__item
                +c-button({ skin: 'borderless', layout: 'icon-only', icon: 'circle-help'})(data-menu="helpMenu") Help
                ul.c-menu(id="helpMenu")
                    -
                        var helpItems = [
                            {
                                pathName: '#',
                                name: 'About this page'
                            },
                            {
                                pathName: '#',
                                name: 'Documentation'
                            },
                            {
                                pathName: '#',
                                name: 'Report a bug'
                            },
                        ]
                    each item in helpItems
                        li.c-menu__item
                            a.c-menu__label(href=item.pathName) #{item.name}
            .c-toolbar__item
                .c-input-group
                    .c-input-group__prepend
                        +icon('search')
                    input.c-input(type="text" placeholder="Search ...")


            .c-toolbar__item
                a.c-user-navigation(href="#" data-menu="userMenu")
                    +c-avatar({img: '/images/avatars/1.jpg', alt: 'avatar'})
                ul.c-menu(id="userMenu")
                    // @todo add correct user menu items
                    li.c-menu__item
                        a.c-menu__label(href="#") Settings
                    li.c-menu__item
                        a.c-menu__label(href="#") Log out
